*{
	margin:0;
	box-sizing: border-box;
}
body{
	font-family: 'Raleway', sans-serif;
	font-size:16px;
	line: height 180%;;
	color:#000;
	/*font-family: 'Source Sans Pro', sans-serif;*/
}

#header{
	padding-top:30px;
	padding-bottom: 40px;
	background: #282828;
    

}
.col-md-4 {
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    text-align: center;
    padding-left: 1%;
    border:#fff;
}

.caption {
    margin-top: 10px; /* Adjust the margin as needed */
}

#header .title{
	display: block;
	font-size:25px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	float: left;
	color:#fff;
}
.title .tribute{
	display:block;
	font-size:16px;
	text-transform:none;
    
}

#header #navigation{
	float: right;
}
#navigation ul li{
	list-style-type:none;
    padding: 10px;;
    display:inline-block;
    margin-right:20px;
    
}
#navigation ul li:last-child{
	margin-right:10px;
}
#navigation ul li a{
	font-size:22px;
	font-weight: bolder;
	font-family: 'Ubuntu', sans-serif;
	color:#fff;
	padding-bottom:10px;
}
#navigation a {
    text-decoration: none; /* Remove underline */
    color: #000; /* Set the color you want for the links */
    font-weight: bold; /* Set the font weight as needed */
}
#navigation ul li a:hover{
	color:#005171;
	text-decoration: none;
	transition: all ease-in 0.2s;
}




#main .caption{
	font-size:20px;
	font-weight: bold;
	text-align:center;
	text-transform:uppercase;
}
#main p{
	text-align:justify;
    
}



#personal-life{
	color:#fff;
	background:#e74c3c;
}
#personal-life img{
	height:282px;
}

#career,#personal-life,#intro, #facts, #death, #filmography{
	padding-top:40px;
	padding-bottom:40px;
	color:#fff;
}
 .section-title{
	font-weight: bolder;
	font-family: 'Ubuntu', sans-serif;
	font-size:35px;
	margin-bottom:15px;
    
	
}
 .section-title:after{
	content:'';
		display:block;
	border:2px solid #fff;
	margin-top:10px;
	width:70px;
}
#intro{
	padding-top:40px;
	background:#2c3e50;
    padding-left: 7%;

}
#career{
	background:#f39c12;

}
#death{
	background:#d35400;
}
#death blockquote{
	font-size:20px;
	font-weight: bold;
}
#death blockquote footer{
	font-size:18px;
	font-weight: bold;
	color:#fff;
}
#facts{
	background:#16a085;
}
#filmography{
	background:#34495e;
}
#main .fa{
	font-size:20px;
}
.thumbnail {
    margin-bottom: 5px;
    border: 5px solid #fff; 
}
#filmography table, th,td, tr{
	border:2px solid #fff;
}
#death a{
	color:#282828;
	font-weight:bold;
}
#death a:hover{
	transition:ease-in 0.2s;
	text-decoration:none;
	color:#fff;
}
th{
	font-size:20px;
	text-align:center;
}
tbody td:nth-child(2){
	font-weight:bold;
	width:200px;
}
tbody td:nth-child(3){
	
	text-align: center;
}
th,td,tr{
	padding:10px 15px;
}
.website{
	padding-top:30px;
	font-size:30px;
}
#footer{
	padding-top:20px;
	padding-bottom:20px;
	background:#282828;
	color:#fff;
}
#footer p{margin:0;}
#footer a{
	color:#fff;
}
#footer a:hover{
	text-decoration:underline;
	transition:all linear 0.2s;
}
#footer .project{
	float:right;
}
.col-md-12{
    text-align: initial;
}
.title{
    margin-top: -15px;
}
.col-md-8{
    grid-row: 100px;
}
.img{
    border: 5px solid #555;
}


